Monopoli_Covid-19_edition/.vsconfig
Monopoli_Covid-19_edition/Library/EditorInstance.json
Monopoli_Covid-19_edition/Library/CurrentLayout-default.dwlt
Monopoli_Covid-19_edition/Library/CurrentMaximizeLayout.dwlt
Monopoli_Covid-19_edition/Library/EditorSnapSettings.asset
Monopoli_Covid-19_edition/Library/LastSceneManagerSetup.txt
Monopoli_Covid-19_edition/Library/LibraryFormatVersion.txt
Monopoli_Covid-19_edition/Library/PackageCache/com.unity.2d.animation@5.0.4/package.json
Monopoli_Covid-19_edition/Library/PackageCache/com.unity.2d.common@4.0.3/package.json
Monopoli_Covid-19_edition/Library/PackageCache/com.unity.2d.path@4.0.1/package.json
Monopoli_Covid-19_edition/Library/PackageCache/com.unity.2d.pixel-perfect@4.0.1/package.json
*.meta
*.png
*.unity
*.jpeg
Monopoli_Covid-19_edition/.vs/Monopoli_Covid-19_edition/v15/Server/sqlite3/db.lock
